body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageBooks {
		.books {
			.book {
				background-color: #222;
				margin-bottom: 2rem;
				padding: 1rem;
				width: 30rem;
				display: flex;
				gap: 1rem;

				img {
					width: 6rem;
					height: 8rem;
				}

				.info {
					.title {
						color: brown;
						font-size: 1.3rem;
						margin-bottom: .5rem;
					}

					.description {
						font-style: italic;
						color: #aaa;
					}
				}
			}
		}
	}
}